.search-bar {
    display: inline-flex;
    height: 80px;
    width: 100%;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--dark-blue-03);
    .search-bar-input {
        display: inline-flex;
        width: 100%;
        input {
            background-color: var(--dark-blue-02);
            border-radius: 0.3rem;
            border-style: none;
            width: 100%;
            height: 100%;
            padding: 0.5rem;
            color: var(--default-light-grey);
            &:focus {
                outline: none;
            }
        }
    }

    .add-icon {
        .btn-new-contact {
            cursor: pointer;
            display: inline-flex;
            max-height: 32px;
            border-radius: 0.3rem;
            padding: 0.5rem;
            border-style: none;
            background-color: var(--dark-blue-02);
            color: var(--default-light-grey);
            border: 2px solid var(--border-color);
        }
    }
}